body {
    background-color: #0f1c37;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 30px;
}

form {
    margin-top: 20px;
}

input[type="text"],
input[type="tel"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para el logo en la esquina superior derecha */
.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px; /* Ajusta el tamaño del logo según tus necesidades */
    height: auto;
}
/* Estilos para la barra de navegación */
.navbar {
    background-color: #0088ffed;
    overflow: hidden;
    position: relative;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #0056b3;
}

/* Estilos para el menú desplegable de categorías */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

